*{
    box-sizing: border-box;
}

#header {
    display: flex;
    background-color: cornflowerblue;
    height: 10vh;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    font-family: 'Cinzel', serif;
}